{% extends "/home/maxor/.local/share/virtualenvs/webwid-fSKYr_KS/webwid/libreria/templates/paginas/page.html" %}

{% block titulo %} Helicopter {% endblock %}

{% block contenido %} 
    
    <div class="card">
        <div class="card-header">
            Agregar planta
        </div>
        <div class="card-body">
            <h4 class="card-title">Datos de la planta</h4>
            {% include 'plantas/form.html' %}
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
    
{% endblock %}